<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/alexlongshaw">
              <span class="icon icon--github">{% include icon-github.svg %}</span>
              <span class="username">alexlongshaw</span>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/alexjlongshaw">
              <span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span>
              <span class="username">alexjlongshaw</span>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/alexlongshaw">
              <span class="icon icon--twitter">{% include icon-twitter.svg %}</span>
              <span class="username">alexlongshaw</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
